# Ignore the following files (do not commit working files to repository)

# Ignore dynamic download files
# - keep the README file

/downloads/*
!/downloads/README.md

# Ignore temporary files from editors

# vi/vim
*.swp
*.swo

# Program log files

*.log

# Word
#~$*.doc*
# Excel
#~$*.xls*
# PowerPoint
#~$*.ppt*
~$*
